.wrapper {
    padding: var(--root-box-size-xs);
    border-radius: var(--root-box-round-l);
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    color: var(--root-color-default);
}

.width_1-1 {
    width: 100%;
}
