.wrapper {
    display: inline-block;
}

.input {
    display: none;

    &:checked + .body:after {
        border-color: var(--root-color-red);
    }

    &:checked + .body .text {
        color: var(--root-color-red);
    }
}

.body {
    position: relative;
    padding: 0 var(--root-box-size-m);
    border-radius: var(--root-box-round-l);
    line-height: 30px;
    background: var(--root-color-light);
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid var(--root-color-shadow);
        border-radius: var(--root-box-round-l);
        content: '';
    }
}
