.wrap{
    margin-top: 100px;
}
.containerCollections{
    width: 70%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.cardImg {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.card{
    border: 1px solid #dac934;
}

.card:hover{
    border: 1px solid blue;
    background: #f6f6f6;
}

.badgeBlack{
    color: black;
}

.title{
    font-weight: bold;
    cursor: pointer;
}
.badge{
    position: absolute;
    right:  0;
    top: 0;
}

.searchBlock{
    width: 30%;
    margin: 0 auto;
}
.search{
    border: 1px solid #000000;
}
.search:focus{
    border-color: #d0d046;
    box-shadow: 0 1px 2px rgb(197, 197, 73),0 0 0 .25rem rgba(211, 204, 102, 0.25);
}

.button{
    background: #e8d53a;
}

.background{
    background-color: #f2f2f2;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-row-gap: 1em;
    justify-items: center;
    padding: 0 150px;
}

.card {
    width: 300px;
    text-align: center;
}


/*!* Стили для планшета *!*/
@media (max-width: 900px) {
    .containerCollections {
        width: 100%;
    }
    .searchBlock{
        width: 100%;
        padding: 10px;
    }
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
    .card{
        width: 250px;
    }
}

/*!* Стили для телефона *!*/
@media (max-width: 480px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

