.input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked ~ .fake {
        background-image: url('check-on.svg');
    }
}

.fake {
    background-image: url('check-off.svg');
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
}
