.wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: var(--root-box-size-s);
    box-sizing: border-box;
    resize: none;
    outline: 0;
    border: 1px solid var(--root-color-shadow);
    border-radius: var(--root-box-round-l);
    line-height: 16px;
    font-size: var(--root-font-size-xs);
    background-color: transparent;
    color: var(--root-color-default);

    &:focus {
        border-color: var(--root-color-yellow);
    }

    &::-webkit-input-placeholder {
        color: var(--root-color-muted);
    }

    &::-moz-placeholder {
        color: var(--root-color-muted);
    }

    &:-ms-input-placeholder {
        color: var(--root-color-muted);
    }
}

.error {
    border-color: var(--root-color-error);
}
