.wrapper {
    position: relative;
    display: inline-block;
}

.labelPosition {
    position: absolute;
    top: 10%;
    left: 50%;
}

.label {
    min-width: 1em;
    padding: calc(var(--root-box-size-xxs) / 2) var(--root-box-size-xxs);
    border-radius: var(--root-box-round-m);
    text-align: center;
    font-size: 10px;
    line-height: normal;
}

.theme_red {
    background: var(--root-color-red);
    color: var(--root-color-light);
}

.theme_green {
    background: #134d13;
    color: var(--root-color-light);
}

.theme_yellow {
    background: var(--root-color-yellow);
    color: var(--root-color-default);
}
