.wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 var(--root-box-size-m);
    border: 0 none;
    border-radius: var(--root-box-round-l);
    outline: 0 none;
    background: var(--root-color-yellow);
    user-select: none;
    transition: background 0.1s;
    vertical-align: middle;
    text-decoration: none;
    line-height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

    &:hover {
        background: #ffd825;
    }

    &:active {
        border-top: 2px solid #e1b900;
        background: #f7cb00;
        box-shadow: none;
    }
}

.spanWrapper {
    display: inline-block;
}

.theme_white {
    background: var(--root-color-light);
    border: 1px solid var(--root-color-shadow);

    &:hover {
        background: var(--root-color-light);
    }

    &:active {
        border-top: 2px solid #e6e6e6;
        background: #fafafa;
    }
}

.theme_red {
    background: var(--root-color-red);
    color: var(--root-color-light);
    font-weight: 700;

    &:hover {
        background: #f77859;
    }

    &:active {
        border-top: 2px solid #bf2d09;
        border-bottom: none;
        background: #f5562f;
    }
}

.theme_gray {
    background: var(--root-color-shadow);

    &:hover {
        background: #e8eff5;
    }

    &:active {
        border-top: 2px solid #bad0e0;
        border-bottom: none;
        background: #cbdce8;
    }
}

.theme_red-border {
    background: var(--root-color-light);
    border: 2px var(--root-color-red) solid;

    &:hover {
        background: #fffaf9;
    }

    &:active {
        border-color: #f55832;
        background-color: #feeeeb;
        box-shadow: none;
    }
}

.size_fluid {
    width: 100%;
    padding: 0;
    text-align: center;
}

.size_small {
    height: 28px;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.preload {
    pointer-events: none;
}

.link {
    padding: 0;
    margin: 0;
    background: none;
    color: var(--root-color-link);
    height: auto;
    border: none;
    cursor: pointer;
}

.preloadText {
    visibility: hidden;
}

.preloadWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
