:root {
    --ek-grid-border-gray: #dde8f0;
}
.ek-grid_divider_gray > .ek-grid__item {
    border: 0 solid var(--ek-grid-border-gray);
}
.ek-grid_divider_gray > .ek-grid__item + .ek-grid__item {
    border-left-width: 1px;
}
@media (--ek-grid-media-small) {
    .ek-grid_divider_gray\@small > .ek-grid__item {
        border: 0 solid var(--ek-grid-border-gray);
    }
    .ek-grid_divider_gray\@small > .ek-grid__item + .ek-grid__item {
        border-left-width: 1px;
    }
}
@media (--ek-grid-media-medium) {
    .ek-grid_divider_gray\@medium > .ek-grid__item {
        border: 0 solid var(--ek-grid-border-gray);
    }
    .ek-grid_divider_gray\@medium > .ek-grid__item + .ek-grid__item {
        border-left-width: 1px;
    }
}
@media (--ek-grid-media-large) {
    .ek-grid_divider_gray\@large > .ek-grid__item {
        border: 0 solid var(--ek-grid-border-gray);
    }
    .ek-grid_divider_gray\@large > .ek-grid__item + .ek-grid__item {
        border-left-width: 1px;
    }
}
@media (--ek-grid-media-wide) {
    .ek-grid_divider_gray\@wide > .ek-grid__item {
        border: 0 solid var(--ek-grid-border-gray);
    }
    .ek-grid_divider_gray\@wide > .ek-grid__item + .ek-grid__item {
        border-left-width: 1px;
    }
}
@media (--ek-grid-media-huge) {
    .ek-grid_divider_gray\@huge > .ek-grid__item {
        border: 0 solid var(--ek-grid-border-gray);
    }
    .ek-grid_divider_gray\@huge > .ek-grid__item + .ek-grid__item {
        border-left-width: 1px;
    }
}
