.wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: block;
}

.indent_xs {
    margin-top: calc(-1 * var(--root-grid-indent-xs));
    margin-bottom: calc(-1 * var(--root-grid-indent-xs));

    & > .item {
        padding-top: var(--root-grid-indent-xs);
        padding-bottom: var(--root-grid-indent-xs);
    }
}

.indent_s {
    margin-top: calc(-1 * var(--root-grid-indent-s));
    margin-bottom: calc(-1 * var(--root-grid-indent-s));

    & > .item {
        padding-top: var(--root-grid-indent-s);
        padding-bottom: var(--root-grid-indent-s);
    }
}

.indent_m {
    margin-top: calc(-1 * var(--root-grid-indent-m));
    margin-bottom: calc(-1 * var(--root-grid-indent-m));

    & > .item {
        padding-top: var(--root-grid-indent-m);
        padding-bottom: var(--root-grid-indent-m);
    }
}

.icon_dash {
    & > .item {
        padding-left: var(--root-box-size-l);
        position: relative;

        &:before {
            position: absolute;
            margin-left: calc(-1 * var(--root-box-size-l));
            width: var(--root-box-size-l);
            text-align: center;
            content: '\2014';
        }
    }
}
